@media only screen and (max-width: 600px) {
  .headerMenu {
    display: none;
  }
  .burgerIcon {
    display: block;
    margin: 0 30px 0 auto;
  }

  .card {
    width: 90%;
    margin: 30px 5%;
  }
}
